<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style type="text/css">
    .grid {
      margin: auto;
      width: 530px;
      text-align: center;
    }

    .grid table {
      border-top: 1px solid #C2D89A;
      width: 100%;
      border-collapse: collapse;
    }

    .grid th,
    td {
      padding: 10;
      border: 1px dashed #F3DCAB;
      height: 35px;
      line-height: 35px;
    }

    .grid th {
      background-color: #F3DCAB;
    }

    .grid .book {
      padding-bottom: 10px;
      padding-top: 5px;
      background-color: #F3DCAB;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="grid">
      <div>
        <h1>图书管理</h1>
        <div class="book">
          <div>
            <label for="id">
              编号：
            </label>
            <input type="text" id="id" v-model='id' :disabled="disabled">
            <label for="name">
              名称：
            </label>
            <input type="text" id="name" v-model='name'>
            <button @click='add'>提交</button>
          </div>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr :key='item.id' v-for='(item,index) in books'>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
            <td>
              <a href="" @click.prevent="editBook(index)">修改</a>
              <span>|</span>
              <a href="" @click.prevent="delBook(index)">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript">
    /*
      图书管理-添加图书
    */
    var vm = new Vue({
      el: '#app',
      data: {
        id: '',
        name: '',
        disabled: false,
        books: [{
          id: 1,
          name: '三国演义',
          date: new Date().getTime()
        }, {
          id: 2,
          name: '水浒传',
          date: new Date().getTime()
        }, {
          id: 3,
          name: '红楼梦',
          date: new Date().getTime()
        }, {
          id: 4,
          name: '西游记',
          date: new Date().getTime()
        }]
      },
      methods: {
        add() {
          // 如果this.disabled这个属性的值为true表示的是修改 如果这个值为false就表示是添加功能 
          if (this.disabled) {
            // 修改功能 name的值 在我们的数组中有N个元素 每一个元素是一个对象 那我们如何知道修改数组中的哪一个元素呢？
            // some() 
            // this.books.some((item) => {
            //   if (item.id == this.id) {
            //     // 对item.name 进行修改
            //     item.name = this.name;
            //     return true;
            //   }
            // })
            var index = this.books.findIndex((item) => item.id == this.id);
            this.books[index].name = this.name;
            this.disabled = false;
            this.id = this.name = '';

          } else {
            // 添加功能
            this.books.push({ id: this.id, name: this.name, date: new Date().getTime() });
            this.id = this.name = '';
          }
        },
        editBook(key) {
          this.id = this.books[key].id;
          this.name = this.books[key].name;
          this.disabled = true;
        },
        delBook(key) {
          this.books.splice(key, 1);
        }
      }
    });
  </script>
</body>

</html>